# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

!*/output

*.o
*.a
*.out
*.tar
*.img
*.log
docker-compose.yml
.DS_Store
Thumbs.db
*.swp
*~

# I don't know how to write gitignores :/ or really anything lol :P